@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: local('Segoe UI'), local('SegoeUI'),
        url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI.woff2') format('woff2'),
        url('../fonts/SegoeUI.woff') format('woff'),
        url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-SemiBold.eot');
    src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
        url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
        url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
        url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}